.card-tool {
    position: relative;
    padding: 20px;
    background: none;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-clip: padding-box;
    z-index: 0;
    transition: all 250ms;
}

.card-tool::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 5px;
    padding: 2px;
    background: linear-gradient(to right, #51A2E9, #A17BA7, #FF4D5A);
    mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    mask-composite: exclude;
    z-index: -1;
}

.card-tool:hover{
    cursor: pointer;
    transform: translateY(-10px);
    font-weight: bold;
}

.card-tool img {
    width: 60px;
    height: 60px;
    margin-bottom: 2px;
}