form{
    display: flex;
    flex-direction: column;
    gap: 35px;
    width: 460px;
}

.input {
    padding: 12px;
    width: 460px;
    height: 40px;
    background: #262626;
    outline: none;
    color: #fff;
    font-size: 1rem;
    width: 100%;
    border: none;
    transition: 250ms;
}

.input:focus {
    box-shadow: rgb(255, 77, 90) 0px 0px 6px;
}

textarea {
    padding: 12px;
    background: #262626;
    font-size: 1rem;
    outline: none;
    border: none;
    resize: none;
    color: #fff;
    transition: 250ms;
}

textarea:focus {
    box-shadow: rgb(255, 77, 90) 0px 0px 6px;
}

.btn-contact-box{
    margin: 0 auto;
}

@media (max-width: 474px) {
    form{
        width: 380px;
    }


    input {
        width: 400px;
    }
}

@media (max-width: 400px) {
    form{
        width: 340px;
    }


    input {
        width: 360px;
    }
}