.hero-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0 auto;
    max-width: var(--max-width-desktop);
}

.hero-container .title-name{
    font-size: var(--h1-font-size);
}

.hero-container .sub-title{
    font-size: 2rem;
    margin-top: -1.3rem;
    color: #FF4D5A;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}

.btn-box{
    margin-top: 30px;
}

/* Animations */
@keyframes typing {
    from {
        width: 0ch;
    }

    to {
        width: 21ch;
    }
}

@keyframes blink-caret {

    from,
    to {
        border-color: transparent;
    }

    50% {
        border-color: #FF4D5A;
    }
}

.typing {
    overflow: hidden;
    border-right: 3px solid #FF4D5A;
    white-space: nowrap;
    width: max-content;
    letter-spacing: .15em;
    animation:
        typing 2s steps(20, end),
        blink-caret .75s step-start infinite;
}