.section-title{
    display: flex;
    justify-content: center;
    padding: 3rem 0 3.7rem 0;
}

.section-title h1{
    font-size: var(--h1-font-size);
    border-bottom: 3px solid #FF4D5A;
    width: fit-content;
}